<h1>Welcome to Channels</h1>
<p>Channels is the world's first ad-optional micropayment content market. Publish your work here and earn money every time someone
  views it.</p>
<h2>Share your videos and get paid for it!</h2>
<div id="homeButtons">
  <a href="https://channels.cc/c/960a9a8d-3301-48b6-b645-59291d51d96e">
    <button>Learn more</button>
  </a>
  <a href="/compose" onclick="__uploadVideo()">
    <button>Upload a Video</button>
  </a>
</div>
<script>
  window.__uploadVideo = function () {
    try {
      $core.analytics.event("user", "yt-conversion-video-upload");
    } catch (err) { console.error(err); }
  };
</script>